@import url("https://fonts.googleapis.com/css2?family=Actor&family=Anaheim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 20vh;
  margin-bottom: 2vh;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  font-family: Actor, sans-serif;
}

header nav a {
  color: #2a4eaa;
  text-decoration: none;
  font-size: 1.6rem;
}

header nav .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}

header nav .inscreva-se {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-inscreva-se {
  color: #fff;
  background-color: #f46363;
  font-family: Actor, sans-serif;
  font-size: 1.6rem;
  padding: 1.5vh 3vh;
  border-radius: 30px;
  text-decoration: none;
  margin: 3vh 0;
}

main {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-family: Anaheim, sans-serif;
  font-weight: 300;
  color: #965e1b;
  width: 50%;
  text-align: center;
}

main .botao-voltar-pagina {
  margin-top: 5vh;
  background-color: #965e1b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-family: Anaheim, sans-serif;
  padding: 2vh 4vh;
  text-decoration: none;
}
